@model IEnumerable<RosePark.Models.Paquete>

@{
    Layout = "_AdminLayout";
}

<h2>Gestión de Paquetes</h2>

<a asp-action="CrearPaquete" class="btn btn-primary">Crear nuevo paquete</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Habitación</th>
            <th>Servicios</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var paquete in Model)
        {
            <tr>
                <td>@paquete.IdPaquete</td>
                <td>@paquete.NombrePaquete</td>
                <td>@paquete.Descripcion</td>
                <td>@paquete.Estado</td>
                <td>@paquete.IdHabitacionNavigation?.NorHabitacion</td>
                <td>
                    @foreach (var servicio in paquete.PaquetesServicios)
                    {
                        <span>@servicio.IdServicioNavigation.NombreServicio</span>

                        <br />
                    }
                </td>
                <td>
                    <a href="@Url.Action("EditarPaquete", new { id = paquete.IdPaquete })"
                        class="btn btn-warning">Editar</a>

                    <form action="@Url.Action("EliminarPaquete", new { id = paquete.IdPaquete })" method="post"
                        style="display:inline;"
                        onsubmit="return confirm('¿Está seguro de que desea eliminar este paquete?');">
                        <input type="hidden" name="id" value="@paquete.IdPaquete" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
