@model IEnumerable<RosePark.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    var selectedRolOption = ViewData["SelectedRolOption"]?.ToString();
}

<h1>Index</h1>
<a asp-action="Create" class="btn btn-success mb-3">Crear Usuario</a>

<form method="get" asp-action="Index">
    <div class="form-group">
        <label for="rolOption">Filtrar por Rol:</label>
        <select class="form-select" id="rolOption" name="rolOption" onchange="this.form.submit()">
            @Html.Raw($"<option value=\"1\" {(selectedRolOption == "1" ? "selected" : "")}>Clientes</option>")
            @Html.Raw($"<option value=\"2\" {(selectedRolOption == "2" ? "selected" : "")}>Administrativos</option>")
        </select>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CorreoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaveUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonasNavigation.IdPersonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation.IdRol)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaveUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonasNavigation.IdPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.IdRol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.IdUsuario" class="btn btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
