@model IEnumerable<RosePark.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Create" class="btn btn-success mb-3">Crear Usuario</a>

<select class="form-select" aria-label="Default select example">
  <option selected>Clientes</option>
  <option value="2">Administrativos</option>
</select>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CorreoUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaveUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonasNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaveUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonasNavigation.IdPersonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.IdRol)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.IdUsuario" class="btn btn-primary">Details</a>
                <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="btn btn-danger">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
