@model IEnumerable<RosePark.Models.PaquetesServicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPaqueteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdServicioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPaqueteNavigation.IdPaquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdServicioNavigation.IdServicio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPaquetesServicios">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPaquetesServicios">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPaquetesServicios">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
