@model IEnumerable<RosePark.Models.TiposHabitacione>

@{
    ViewData["Title"] = "TipoHabitaciones";
    Layout = "_AdminLayout";
}

<h2>Lista de Tipos de Habitaciones</h2>

<p>
    <a asp-action="CrearTipoHabitaciones" class="btn btn-primary">Crear Nuevo Tipo de Habitación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>
                    <a asp-action="EditarTipoHabitaciones" asp-route-id="@item.IdTipoHabitacion" class="btn btn-warning">Editar</a> 

                    <form asp-action="EliminarTipoHabitacion" method="post" style="display:inline;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este tipo de habitación?');">
                        <input type="hidden" name="id" value="@item.IdTipoHabitacion" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
