@model IEnumerable<RosePark.Models.Paquete>

@{
    Layout = "_Layout";

    // Lista de URLs de imágenes
    var imageUrls = new List<string>
{
"https://i.imgur.com/545yCD7.jpeg",
"https://i.imgur.com/jnaS7vU.jpeg",
"https://i.imgur.com/5B96vii.jpeg",
"https://i.imgur.com/g7y85wp.jpeg"
};
}

<style>
    .title {
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

    .containerCards {
        padding: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .card {
        width: 45vw;
        display: flex !important;
        flex-direction: row;
    }

    .img-paquetes {
        width: 300px;
    }
</style>

<div class="containerr">
    <h2 class="title">Gestión de Paquetes</h2>

    <div class="containerCards">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var paquete = Model.ElementAt(i);
            // Obtén la URL de la imagen correspondiente al paquete
            var imgIndex = i % imageUrls.Count;
            var imageUrl = imageUrls[imgIndex];

            <div class="card">
                <img src="@imageUrl" class="card-img-top img-paquetes" alt="Imagen del Paquete">
                <div class="card-body">
                    <h5 class="card-title">@paquete.NombrePaquete</h5>
                    <p class="card-text"><strong>Descripción:</strong> @paquete.Descripcion</p>
                    <p class="card-text"><strong>Habitación:</strong> @paquete.IdHabitacionNavigation?.NorHabitacion</p>
                    <p class="card-text"><strong>Servicios</strong></p>
                    <ul>
                        @foreach (var servicio in paquete.PaquetesServicios)
                        {
                            <li>@servicio.IdServicioNavigation.NombreServicio</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
