@model IEnumerable<RosePark.Models.Paquete>

@{
    var checkinDate = ViewData["CheckinDate"] as string;
    var checkoutDate = ViewData["CheckoutDate"] as string;
    var numeroPersonas = ViewData["NumeroPersonas"] as int?;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Paquetes</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
    .containerr {
        padding: 5rem 1rem 1rem 1rem;
    }
</style>

<body>

    <section class="containerr">
        <h2 class="mb-5  text-center">Resultados de Disponibilidad</h2>

        <div class="row row-cols-4">
            @if (Model != null && Model.Any())
            {
                @foreach (var paquete in Model)
                {
                    <div class="col d-flex justify-content-center mb-5">
                        <div class="card" style="width: 18rem;">
                            <img src="@paquete.IdHabitacionNavigation?.ImagenUrl" class="card-img-top" height="300" alt="Imagen de la Habitación">
                            <div class="card-body">
                                <h5 class="card-title">@paquete.NombrePaquete</h5>
                                <p class="card-text">@paquete.Descripcion</p>
                                <p><strong>Habitación:</strong> @paquete.IdHabitacionNavigation?.NorHabitacion</p>
                                <p><strong>Precio base:</strong> $@String.Format("{0:N0}", @paquete.IdHabitacionNavigation.PrecioHabitacion)</p> <!-- Mostrar el precio base -->
                                <p><strong>Servicios incluidos:</strong></p>
                                <ul>
                                    @foreach (var servicio in paquete.PaquetesServicios)
                                    {
                                        <li>@servicio.IdServicioNavigation.NombreServicio</li>
                                    }
                                </ul>
                                <a href="@Url.Action("ResumenReserva", "Home", new { id = paquete.IdPaquete })" class="btn btn-primary">
                                    Reservar
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No hay paquetes disponibles para las fechas seleccionadas.</p>
            }
        </div>
    </section>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Home.js"></script>
</body>
</html>
